
body{
	//padding-left: 15px;
	//padding-right: 15px;
	//background-image: url('../img/bg-down-load-app.png');
}

.container-top{
	background-image: url('../img/bg1.png');
	background-size: 100% auto;
	width: 100%;
}

.header-left{
	margin: auto;
	padding-top: 20%;
	text-align: center;
}

.header-right {
    //position: relative;
}

.header-right img {
    width: 100%;
}

.container-middle{
	width: 100%;
	background-image: url('../img/bg-red.jpg');
	margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
	position: relative;
}

.container-middle-advantage{
	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
}

.container-middle-advantage .advantage-item{
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
}


.tai-app-ngay a img{
position: absolute;
bottom: -45px;
}

.container-middle-advantage > a > img{
	width: 100%;
}

.line{

	background-image: url('../img/bg-down-load-app.png');
	background-repeat: repeat-x;
	height: 21.111px;
}

.container-middle-1{
	width: 100%;
	background-image: url('../img/bg-red.png');
	//background-color:red;
	//height: 731;
	margin-left: auto;
    margin-right: auto;
	background-color: red;
	position: relative;
}

.container-middle-1-text{
	text-align: left;
    color: white;
    padding-bottom: 5%;
    font-size: 1.1em;
}
.container-bottom{
	width: 100%;
	background-image: url('../img/bg3.png');
	background-repeat: no-repeat;
	//height: fixed;
	color: white;
	padding-bottom: 1%;
}

.container-bottom .content{
	padding-bottom: 5%;
	padding-top: 20%;
	//padding-left: 20%;
}

.container-bottom .download-btn{
	padding-top: 5%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.container-advantage{
	margin-top: 2%;
	margin-bottom:2%;
}





.footer{
	color: white;
	padding: 1%;
	background-color: black;
}

.footer-left{
	width: 50%;
	display: block;
	margin: auto;
	padding: auto;
	text-align: right;
}

.footer-left img{
	float:left;
	display: block;
}

.footer-right{
	float:left;
	display: block;
	width: 50%;
	margin: auto;
	padding: auto;
	padding-left: 1%;
	text-align: left;
}

// Media query dynamic along width-device:
/*==========  Mobile First Method  ==========*/
 
	/* Custom, iPhone Retina */
	@media only screen and (min-width : 320px) and (max-width : 479px){
 	.container-top, .container-middle, .container-bottom{
	text-align: center;
	}

	.tai-app-ngay a img{
	display: none;
	}

	.bg2-image{
    display: none;
	}

	}
 
	/* Extra Small Devices, Phones */
	@media only screen and (min-width : 480px) and (max-width : 767px){
 	.tai-app-ngay a img{
	display: none;
	}

	.bg2-image{
    display: none;
	}
	
	.container-middle-advantage > a > img {
    width: 70%;
}

	}
 
	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px) and (max-width : 991px){
 	.tai-app-ngay a img{
	display: none;
	}
	
	.bg2-image {
    display: none;
	}

	}
 
	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px) and (max-width : 1199px){
 	.container-middle-1-text{
	text-align: left;
    position: absolute;
    color: white;
    bottom: 10%;
    left: 35%;
    font-size: 1.1em;
	}

	.bg2-image {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50%;
	}

	.tai-app-ngay a img{
	display: none;
	}
	}
 
	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px){
 	.container-middle-1-text{
	text-align: left;
    position: absolute;
    color: white;
    bottom: 10%;
    left: 28%;
    font-size: 1.1em;
	}

	.bg2-image{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50%;
	}
	
	.tai-app-ngay a img{
	position: absolute;
	bottom: -45px;
	}

	}


@media only screen and (min-width:1600px){
	.tai-app-ngay a img{
	position: absolute;
	bottom: -55px;
	}

	.bg2-image a img{
    position: absolute;
    right: 0px;
    top: 0px;
	}
}

.row{
	margin-left: 0px;
	margin-right: 0px;
}

